---
import Layout_min from "../layouts/Layout_min.astro";
---

<Layout_min title="Page not found">
    <div class="mt-70 flex flex-col justify-center items-center">
        <div class="max-w-lg text-center">
            <h1 class="text-7xl font-bold text-white mb-8">404</h1>
            <h2 class="uppercase text-3xl font-bold text-white mb-8">Page not found</h2>
            <p class="mt-6 text-xl/8 text-gray-400 mb-10">Hello! We're sorry, but we couldn't find what you were looking for. Please make sure the URL is correct.</p>
            <a href="/" class="text-l uppercase text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2">Go back to home</a>
        </div>
    </div>
</Layout_>
