---
import { Image } from 'astro:assets';
import logo from '../assets/images/spacex_launches_w.png';
---

<header class="fixed top-0 z-50 mx-auto flex h-20 w-full select-none items-center text-white sm:h-screen sm:overflow-hidden md:h-20">
    <div class="mx-auto lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5">
        <nav class="w-full flex justify-between gap-6 relative">
            <a class="min-w-max inline-flex relative" href="/">
                <Image class="w-50" src={logo} alt="SpaceX Launches" />
            </a>
            <div class="relative hidden md:flex items-center justify-center">
                <ul class="items-center justify-between hidden gap-12 md:flex text-lg text-gray-300 w-full lg:justify-center">

                    <li>
                        <a href="/about" class="uppercase duration-300 ease-linear font-semibold hover:text-white py-3">About</a>
                    </li>
                    <li>
                        <a href="/all-launches" class="uppercase duration-300 ease-linear font-semibold hover:text-white py-3">All launches</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<style is:global>
    @keyframes header-blur-scroll {
        from {
            background-color: transparent;
            backdrop-filter: none;
            border-color: transparent;
        }
        to {
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            border-color: rgba(0, 0, 0, 0.5);
        }
    }

    header {
        background: transparent;
        animation: header-blur-scroll .3s linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
        border-bottom: 1px solid transparent;
    }
</style>